.button {
//  @include parallelogram(10px);
  background: $primary-color;
  font-weight: bold;
  border: none;
  margin-top: $button-margin;
}

.button-small {
//  @include parallelogram(10px);
  background: $primary-color;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  float: right;
}
